// .contact {
// 	background-image: url('../img/contact.jpg');
// }

.context-contact {

	.hero-bg-overlay {
		background: linear-gradient(50deg, $tertiary-colour 0, $secondary-color 100%);
	}

	// .main-menu {

	// 	a[href*="contact"] {
	// 		color: $medium-gray;
	// 	}

	// }

	.page-main {
		background-color: $senary-colour;
		background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='#{$senary-colour-bg}' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	}

	.gm-style {

		&
		div,
		span,
		label,
		a {
			font: $global-weight-normal 11px $body-font-family;
		}

	}

}

.contact-details {
	display: flex;

	@include breakpoint(small only) {
		flex-direction: column;
	}

	> div {
		width: 50%;

		@include breakpoint(small only) {
			width: 100%;
		}

	}

	.heading {
		margin-bottom: $global-margin;
	}

	.callout {
		text-align: center;

		// &.error,
		// &.success {
		// 	display: block;
		// }

		&.error {
			color: get-color(alert);
			border-color: rgba(get-color(alert), 0.25);
		}

		&.success {
			color: get-color(success);
			border-color: rgba(get-color(success), 0.25);
		}

	}

}

.contact-form {
	padding-top: rem-calc(60);
	padding-bottom: rem-calc(60);
	padding-left: rem-calc(60 - (map-deep-get($grid-column-gutter, 'medium') /2));
	padding-right: rem-calc(60 - (map-deep-get($grid-column-gutter, 'medium') /2));

	@include breakpoint(small only) {
		padding: rem-calc(60 0);
	}

}

#spinner {
	@extend .loading-icon;
	height: rem-calc(46);
	width: rem-calc(46);
	display: none;
	margin: 0 0 -0.8em 0;
	top: rem-calc(6);
	transform: scale(0.3);

	&::before {
		border-color: $primary-color;
	}

	&::after {
		border-color: $secondary-color;
	}

	&.show {
		display: inline-block;
	}

}

.google-map-container {
	position: relative;

	@include breakpoint(small only) {
		height: rem-calc(300);
	}

}

.google-map,
.google-map-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.google-map-overlay {
	cursor: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E %3Cpath fill='#{$primary-color-rgb}' d='M15.8 8h-1.8v-2.4c0-2.897-1.335-4.6-4-4.6s-4 1.703-4 4.6v0.4h2v-0.801c0-1.445 0.797-2.199 2-2.199s2 0.754 2 2.199v2.801h-8c-0.553 0-1 0.646-1 1.199v7.801c0 0.549 0.428 1.139 0.951 1.307l1.197 0.387c0.524 0.167 1.402 0.306 1.952 0.306h5.8c0.549 0 1.428-0.139 1.951-0.307l1.196-0.387c0.524-0.167 0.953-0.757 0.953-1.306v-7.801c0-0.553-0.648-1.199-1.2-1.199z'%3E%3C/path%3E %3C/svg%3E"), auto;
}