.footer-section {

	a {
		color: $white;

		&:hover,
		&:focus {
			color: $primary-color;
		}

	}

	p {
		font-size: (1rem / 2);
		text-transform: uppercase;
	}

}

.squiggle-footer,
.squwilines-footer,
.doubletriangle-footer {
	position: absolute;
	height: auto;
	z-index: 98;
	transform: scale(0.7);
}

.squiggle-footer {
	left: rem-calc(100);
	width: rem-calc(40);
	height: rem-calc(150);
	top: rem-calc(-70);
	fill: $quinary-colour;

	@include breakpoint(small only) {
		left: rem-calc(0);
		top: rem-calc(-110);
	}

}

.squwilines-footer {
	left: rem-calc(200);
	width: rem-calc(90);
	height: rem-calc(90);
	top: rem-calc(-80);
	fill: $black;
	transform: rotate(60deg);

	@include breakpoint(small only) {
		left: rem-calc(40);
		top: rem-calc(-140);
		transform: rotate(60deg) scale(0.7);
	}

}

.doubletriangle-footer {
	top: rem-calc(-90);
	right: rem-calc(100);
	width: rem-calc(170);
	height: rem-calc(150);
	fill: $quaternary-colour;

	@include breakpoint(small only) {
		right: rem-calc(-40);
		top: rem-calc(-110);
	}

}

.top-footer {
	background: $dark-gray;
	padding-top: rem-calc(30);
	padding-bottom: rem-calc(60);
	text-align: center;

	@include breakpoint(small only) {
		padding-top: rem-calc(60);
	}

}

.scroll-to-top {
	margin-bottom: $paragraph-margin-bottom;
	font-size: 3rem;
}

.social-links.menu {
	flex-flow: row wrap;

	> li {

		> a {
			font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h5', 'font-size') * 1px);
			margin: 0.5rem;
			text-align: center;

			&:hover,
			&:focus {
				background-color: $primary-color;
				color: $white;
			}

			svg {
				margin: 0;
			}

		}

	}

	.facebook {
		background-color: $facebook;
	}

	.instagram {
		background-color: $instagram;
	}

	.snapchat {
		background-color: $snapchat;
		color: $black;
	}

	.vimeo {
		background-color: $vimeo;
	}

	.twitter {
		background-color: $twitter;
	}

	.rss {
		background-color: $rss;
	}

}

.bottom-footer {
	padding-top: rem-calc(30);
	padding-bottom: rem-calc(30);
	text-align: center;
	color: $white;
	background-color: #4a4a4d;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='#{$dark-gray-rgb}' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.of-text {
	letter-spacing: rem-calc(10);
	margin-right: rem-calc(-10);
}

.footer-logo {
	fill: currentColor;
	width: rem-calc(170.703px);
	height: rem-calc(63.666px);
}

.copyright-text {
	margin-top: $paragraph-margin-bottom;
	margin-bottom: $paragraph-margin-bottom;
	margin-right: rem-calc(-3);
	letter-spacing: rem-calc(3);
}