@keyframes lds-ripple {

	0% {
		width: 0;
		height: 0;
		opacity: 1;
	}

	100% {
		width: 148px;
		height: 148px;
		opacity: 0;
	}

}

.loading-icon {
	position: relative;
	width: rem-calc(200);
	height: rem-calc(200);

	&::before,
	&::after {
		content: '';
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		box-sizing: content-box;
		position: absolute;
		border-width: 12px;
		border-style: solid;
		border-radius: 50%;
		animation: lds-ripple 3s infinite;
	}

	&::before {
		border-color: $white;
	}

	&::after {
		border-color: $light-gray;
		animation-delay: -1.5s;
	}

}

.page-main,
.page-secondary {
	padding-top: rem-calc(120);
	padding-bottom: rem-calc(120);
	position: relative;

	a {
		position: relative;
		white-space: nowrap;

		&::after {
			content: '';
			position: absolute;
			bottom: -.3em;
			left: 50%;
			right: 50%;
			height: rem-calc(3);
			background: currentColor; // system color
			transition: all ease $transition-time;
		}

		&:hover,
		&:focus {

			&::after {
				left: 0;
				right: 0;
			}

		}

	}

}

.page-main {
	color: $white;
	z-index: 2;

	a {
		// color: $secondary-color-light-30;

		&:hover,
		&:focus {
			color: $primary-color;
		}

	}

	&.slope-page {
		margin-top: rem-calc(-250);
		padding-top: rem-calc(120);
		// clip-path: polygon(
		// 	//0 0, /* left top */
		// 	//100% 80%, /* right top */
		// 	//100% 100%, /* right bottom */
		// 	//0 100% /* left bottom */
		// 	0 0, 100% 20%, 100% 100%, 0 100%
		// );

		// @include breakpoint(small only) {
		// 	clip-path: polygon(
		// 		//0 0, /* left top */
		// 		//100% 80%, /* right top */
		// 		//100% 100%, /* right bottom */
		// 		//0 100% /* left bottom */
		// 		0 0, 100% 10%, 100% 100%, 0 100%
		// 	);
		// }

		@include small-portrait {
			padding-top: rem-calc(170);
		}

		@include small-landscape {
			margin-top: rem-calc(-170);
		}

		@include medium-landscape {
			margin-top: rem-calc(-170);
		}

	}

	.header {
		color: $white;
		// font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h2', 'font-size') * 1px);

		// @include breakpoint(small only) {
		// 	font-size: rem-calc(map-deep-get($header-styles, 'small', 'h2', 'font-size') * 1px);
		// }

	}

}

.page-secondary {
	z-index: 3;
	background-color: $white;
	background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='#{$secondary-color-rgb}' fill-opacity='0.05'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

	.ministry-logo {
		fill: currentColor;
		width: rem-calc(300);
	}

	&.contact-page {
		padding-top: 0;
		padding-bottom: 0;
	}

	figure {
		margin-bottom: $paragraph-margin-bottom;
	}

}

.header {
	margin-bottom: rem-calc(30);
	text-transform: uppercase;
	font-style: italic;
	text-shadow: 2px 5px 0 rgba($black, 0.2);
}

.fade {
	@include mui-animation(fade);
	animation-duration: 1s;
	animation-fill-mode: both;
}

.content {

	p {
		opacity: 0;

		@for $i from 1 through 15 {

			&:nth-child(#{$i}) {
				animation-delay:(#{0s + $i * 0.25s});
			}

		}

	}

}

.lead-paragraphs {

	p {
		@extend .lead;
	}

}

.responsive-embed {
	margin-top: $paragraph-margin-bottom;
}

// snippets for blog and media grid

a.snippet {
	position: relative;
	display: block;
	flex: none;
	height: rem-calc(415);
	color: $white;
	perspective: 1000px;
	margin-bottom: rem-calc(60);
	text-align: left;
	white-space: normal;

	* {
		pointer-events: none;
	}

	&::after {
		content: normal;
	}

	&:hover,
	&:focus {
		color: $white;
		outline: none;

		.snippet__deco--overlay {
			opacity: 1;
		}

	}

	@include medium-portrait {
		height: rem-calc(350);
	}

	@include medium-landscape {
		height: rem-calc(420);
	}

}

.snippet__image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
}

.snippet__figure {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;

	> * {
		transform: translateZ(0px); /* Force correct stacking order */
	}

	&::before {
		content: '';
		position: absolute;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		box-shadow: 0 30px 20px rgba($black, 0.5);
	}

}

.snippet__deco {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.snippet__deco--overlay {
	background-image: linear-gradient(45deg, rgba($primary-color, 0.6), rgba($secondary-color, 0.6));
	opacity: 0.65;
	transition: all 0.5s;
}

.snippet__deco--shine::after {
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	background-image: linear-gradient(45deg, rgba($black, 0.5) 0%, rgba($white, 0.25) 50%, transparent 100%);
}

.snippet__deco--lines {
	visibility: hidden;
	transform: scale(0.86);

	// @include small-landscape {
	// 	transform: rotate(90deg) scaleX(1.35) scaleY(-1.35)
	// }

	@include medium-portrait {
		transform: scaleX(0.86) scaleY(1.2);
	}

}

.snippet__deco--line {
	fill: transparent;
	stroke: $white;
	stroke-width: 6px;
}

.snippet__caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 4em;
	color: $white;

	@include breakpoint(medium only) {
		padding: 2em;
	}

}

.snippet__title {
	font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h4', 'font-size') * 1px);
	line-height: 1;
	margin: 0;

	@include breakpoint(medium down) {
		font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h5', 'font-size') * 1px);
	}

}

.snippet__description {
	font-size: rem-calc(13.6);
	margin: rem-calc(16 -3 0 0);
	letter-spacing: rem-calc(3);
	text-transform: uppercase;
}

// post meta

p.post-meta {
	font-size: rem-calc(12);
	text-transform: uppercase;
	letter-spacing: rem-calc(3);
	margin-right: rem-calc(-3);

	@include small-portrait {
		font-size: rem-calc(7.5);
		letter-spacing: rem-calc(1);
	}

	a {

		&:hover,
		&:focus {
			color: $secondary-color-light-43;
		}

		&::after {
			content: normal;
		}

	}

	span {
		margin-right: rem-calc(15);
	}

	.date {
		margin-right: 0;
	}

	.icon {
		margin-top: rem-calc(-3px);
		margin-right: rem-calc(10);
	}

	.icon-chevron-left {
		font-size: 1.1rem;
	}

}

// page elements

figcaption {
	color: $white;
	font-size: rem-calc(12);
	text-transform: uppercase;
	letter-spacing: rem-calc(3);
	background: rgba($black, 0.4);
	padding: rem-calc(10);
}

// social

.social-share.menu {
	margin-top: $paragraph-margin-bottom;
	border-top: 2px dotted $body-font-color;
	padding-top: $paragraph-margin-bottom;
	margin-bottom: ($paragraph-margin-bottom * 2);
	border-bottom: 2px dotted $body-font-color;
	padding-bottom: $paragraph-margin-bottom;
	flex-flow: row wrap;

	> li {
		position: relative;
		margin-right: rem-calc(10);

		> a {
			font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h5', 'font-size') * 1px);
			padding: 0;

			svg {
				margin: 0;
			}

			&::after {
				content: normal;
			}

		}

	}

	svg {
		margin: 0;
	}

	// .facebook {
	// 	top: rem-calc(1);
	// }

	.twitter,
	.pinterest,
	.google-plus {
		top: rem-calc(6);
	}

	// .pinterest {
	// 	top: rem-calc(6);
	// }

	// .google-plus {
	// 	top: rem-calc(6);
	// }

	.share {
		top: rem-calc(2);
		margin-right: 0;
	}

}

// next and previous post pagination

.small-text {
	text-transform: uppercase;
	font-size: rem-calc(8);
	letter-spacing: rem-calc(3);

	.next-post & {
		margin-left: rem-calc(16);
	}

	.previous-post & {
		margin-right: rem-calc(16);
	}

}

.next-post,
.previous-post {

	a {
		white-space: normal;
	}

}

.next-post {
	text-align: left;

	@include breakpoint(small only) {
		margin-bottom: $paragraph-margin-bottom;
	}

}

.previous-post {
	text-align: right;
}

// lazy loading images

.image-colour {
	display: inline-block;
	margin-bottom: $thumbnail-margin-bottom;

	img {
		opacity: 0;
		transition: opacity $transition-time ease;
	}

	&.loaded img {
		opacity: 1;
	}

}

// special text styles

.rotated-text {
	width: rem-calc(160);
	margin: 0 auto rem-calc(60);
	line-height: 1.1;
	font-style: normal;
	text-shadow: 0px 0px 0px;

	&::after {
	   content: '';
	   visibility: hidden;
	   display: block;
	   height: 0;
	   clear: both;
	}

	span {

		&:nth-child(1){
			margin: rem-calc(0 20 0 0);
		}

		&:nth-child(2){
			margin: rem-calc(0 10 0 0);
		}

		&:nth-child(3){
			float: right;
			transform: rotate(-180deg);
		}

		&:nth-child(4){
			float: left;
			transform: rotate(-180deg);
		}

	}

	@include breakpoint(small only){
		width: rem-calc(94);

		span {

			&:nth-child(1){
				margin: rem-calc(0 18 0 0);
			}

			&:nth-child(2){
				margin: rem-calc(0 8 0 0);
			}

		}

	}

}

.zig-zag-rule {
	display: table;
	margin: 0 auto;
	margin-top: rem-calc(30);
	margin-bottom: rem-calc(30);
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 110%;
		width: 100%;
		height: 100%;
		// background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='75.9px' height='5.6px' viewBox='0 0 75.9 5.6'%3E %3Cpolygon fill='#{$body-font-color-rgb}' points='75.9,5.6 71.7,1.8 68,5.6 64.1,1.9 60.4,5.6 56.4,1.8 52.4,5.6 49,1.9 45.1,5.4 41.3,1.6 37.8,5 34.1,1.9 30.8,5.6 26.6,1.8 22.9,5.6 19,1.9 15.3,5.6 11.3,1.8 7.3,5.6 3.8,1.9 0,5.6 0,4 3.9,0.2 7.3,3.9 11.3,0.3 15.3,4 19,0.2 22.9,4 26.6,0.3 30.7,3.9 34,0.2 37.7,3.4 41.3,0 45.1,3.8 49,0.2 52.5,3.9 56.4,0.3 60.4,4 64.1,0.2 68,4 71.7,0.3 75.9,4 '/%3E %3C/svg%3E");
		background-size: rem-calc(20);
		background-repeat: repeat-x;
		animation-name: move-zig-zag;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-duration: 10s;
		transform: translate3d(0,0,0.01);
		will-change: transform;
		background-position: 187% 0%;
	}

	@keyframes move-zig-zag {
		from {
			background-position: 0% 0%
		}

		to {
			background-position: 187% 0%
		}
	}

	&.subheader {

		&::after {
			background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMax slice' viewBox='0 0 7 5'%3E %3Cpolygon fill='#{$subheader-color-rgb}' points='7,1.4 3.6,5 0,1.4 0,0 3.6,3.5 7,0 '/%3E %3C/svg%3E");
		}

	}

}

// svg page graphics

.squiggle-blog-latest,
.triwlines-snippet,
.svg-page-graphic {
	position: absolute;
	z-index: 97;
}

.squiggle-blog-latest {
	left: rem-calc(60);
	top: rem-calc(-40);
	width: rem-calc(27);
	height: rem-calc(150);
	transform: rotate(180deg);
	fill: $senary-colour;

	@include breakpoint(small only) {
		left: rem-calc(20);
	}

}

.triwlines-snippet {
	width: rem-calc(90);
	height: rem-calc(78);
	right: 0;
	top: rem-calc(-50);
}

.svg-page-graphic {
	width: rem-calc(150);
	height: rem-calc(150);
	top: rem-calc(-180);
}

.svg-page-graphic--left {
	left: rem-calc(90);

	@include breakpoint(small only) {
		left: rem-calc(-50);
	}

}

.svg-page-graphic--right {
	right: 0;
}

.spg-media-left,
.spg-regular-page-right {
	fill: $senary-colour;
}

.spg-blog-left {
	fill: $quinary-colour;
}

.spg-whats-on-left,
.spg-blog-right {
	fill: $quaternary-colour;
}

.spg-blog-left,
.spg-whats-on-left,
.spg-media-left {
	transform: rotate(200deg);
}

.spg-whats-on-right {
	fill: $dark-gray;
}

.triwlines,
.spg-regular-page-left,
.spg-media-right {
	fill: $tertiary-colour;
}

.spg-contact-right {
	top: rem-calc(-140);
	fill: $black;
}