$tertiary-colour: #d3c78b; // gold
$quaternary-colour: #26a78d; // green
$quinary-colour: #23afe5; // light blue
$senary-colour: #eba9c7; // pink

$primary-color-light-20: lighten(get-color(primary), 20%);
$primary-color-light-30: lighten(get-color(primary), 30%);
$primary-color-light-43: lighten(get-color(primary), 43%);
$secondary-color-light-20: lighten(get-color(secondary), 20%);
$secondary-color-light-30: lighten(get-color(secondary), 30%);
$secondary-color-light-43: lighten(get-color(secondary), 43%);
$tertiary-colour-light-20: lighten($tertiary-colour, 20%);
$tertiary-colour-light-30: lighten($tertiary-colour, 30%);
$tertiary-colour-light-43: lighten($tertiary-colour, 43%);
$quaternary-colour-light-20: lighten($quaternary-colour, 20%);
$quaternary-colour-light-30: lighten($quaternary-colour, 30%);
$quaternary-colour-light-43: lighten($quaternary-colour, 43%);

$primary-color-bg: rgba(darken(get-color(primary), 16%), 0.99);
$secondary-color-bg: rgba(darken(get-color(secondary), 25%), 0.99);
$tertiary-colour-bg: rgba(darken($tertiary-colour, 15%), 0.99);
$quaternary-colour-bg: rgba(darken($quaternary-colour, 3%), 0.99);
$quinary-colour-bg: rgba(darken($quinary-colour, 16%), 0.99);
$senary-colour-bg: rgba(darken($senary-colour, 16%), 0.99);

$white-rgb: rgba($white, 0.99);
$light-gray-rgb: rgba($light-gray, 0.99);
$medium-gray-rgb: rgba($medium-gray, 0.99);
$dark-gray-rgb: rgba($dark-gray, 0.99);
$body-font-color-rgb: rgba($body-font-color, 0.99);
$subheader-color-rgb: rgba($subheader-color, 0.99);
$primary-color-rgb: rgba($primary-color, 0.99);
$secondary-color-rgb: rgba($secondary-color, 0.99);
$secondary-color-light-rgb: rgba($secondary-color-light-20, 0.99);

$freshman: #ffe800;
$sophomore: #82fbc2;
$varsity: #d4ba29;

$facebook: #3b5998;
$instagram: #833ab4;
$snapchat: #fffc00;
$vimeo: #1ab7ea;
$twitter: #55acee;
$rss: #f26522;
$youtube: #ff0000;

$transition-time: 0.5s;