{% extends 'layouts/_regular' %}
{% set heroTitle %}
	{% for entry in craft.entries.section('mediaOverview') %}{{ entry.title }}{% endfor %}
{% endset %}
{% set summary = null %}
{% for block in entry.lead %}
	{% switch block.type %}

		{% case "lead" %}
			{% set summary = block.text|striptags|slice(0,60) %}

		{% default %}

	{% endswitch %}
{% endfor %}
{% set criteria = {section: 'gallery', order: 'postDate'} %}
{% set next = entry.getNext(criteria) %}
{% set prev = entry.getPrev(criteria) %}

{% block content %}
	{% include 'partials/hero.html' %}
	{% include 'partials/lead-section.html' %}
	<section class="page-secondary">
		<div class="row">
			<div class="column" itemprop="text">
				{% for block in entry.body %}
					{% switch block.type %}

						{% case "header" %}
							<h4>{{ block.header }}</h4>

						{% case "text" %}
							{{ block.text }}

						{% case "pullquote" %}
							<blockquote>{{ block.quote|striptags('<strong><em><br>')|raw|nl2br }}{% if block.citation|length %}<cite>{{ block.citation }}</cite>{% endif %}</blockquote>

						{% case "button" %}
							{{ block.buttonLink }}

						{% case "videoEmbed" %}
							<div class="responsive-embed widescreen">{{ block.videoEmbed|raw }}</div>

						{% case "callout" %}
							<div class="callout">
								<h3>{{ block.header }}</h3>
								{{ block.text }}
							</div>

						{% case "image" %}
							{% for asset in block.image %}
								<figure><img src="{{ asset.getUrl('entryImageBodyInsert') }}" width="{{ asset.getWidth('entryImageBodyInsert') }}" height="{{ asset.getHeight('entryImageBodyInsert') }}" alt="{{ asset.title }}"></figure>
							{% endfor %}

						{% default %}

					{% endswitch %}
				{% endfor %}
			</div>
		</div>
		<div class="row small-up-2 medium-up-4 media-gallery" id="lightgallery">
			{% for myAsset in entry.gallery %}
				<a class="column" href="{{ myAsset.getUrl('galleryImage') }}">
					<img alt="{{ myAsset.title }}" class="thumbnail" src="{{ myAsset.getUrl('galleryImageThumbnail') }}" width="540" height="54">
				</a>
			{% endfor %}
		</div>
		<div class="row">
			<div class="column">
				{% include 'partials/social.html' %}
			</div>
		</div>
		{# next and previous posts #}
		{% include 'partials/next-and-previous-posts.html' %}
	</section>
{% endblock %}