<footer class="footer-section" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
	<div class="top-footer">
		<div class="row scroll-to-top">
			<div class="column">
				<a href="#top" title="{{ 'Scroll to Top' | translate }}">
					<svg class="icon icon-chevron-up"><use xlink:href="#icon-chevron-up"></use></svg>
				</a>
			</div>
		</div>
		<ul class="social-links menu align-center">
			{% if socialMedia.facebookPage is defined %}
				<li>
					<a href="{{ socialMedia.facebookPage }}" title="{{ 'Like us on Facebook' | translate }}" class="facebook" target="_blank">
						<svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
					</a>
				</li>
			{% endif %}
			{% if socialMedia.instagramUserName is defined %}
				<li>
					<a href="https://www.instagram.com/{{ socialMedia.instagramUserName }}" title="{{ 'Follow us on Instagram' | translate }}" class="instagram" target="_blank">
						<svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
					</a>
				</li>
			{% endif %}
			{% if socialMedia.snapchatUsername is defined %}
				<li>
					<a data-open="snapchatModal" title="{{ 'Add us on Snapchat' | translate }}" class="snapchat">
						<svg class="icon icon-snapchat"><use xlink:href="#icon-snapchat"></use></svg>
					</a>
				</li>
			{% endif %}
			{% if socialMedia.vimeoPage is defined %}
				<li>
					<a href="{{ socialMedia.vimeoPage }}" title="{{ 'View our Vimeo page' | translate }}" class="vimeo" target="_blank">
						<svg class="icon icon-vimeo"><use xlink:href="#icon-vimeo"></use></svg>
					</a>
				</li>
			{% endif %}
			{% if socialMedia.twitterHandle is defined %}
				<li>
					<a href="https://twitter.com/@{{ socialMedia.twitterHandle }}" title="{{ 'Follow us on Twitter' | translate }}" class="twitter" target="_blank">
						<svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
					</a>
				</li>
			{% endif %}
			<li>
				<a href="{{ siteRoot }}feed.rss" class="rss" title="{{ 'Subscribe to RSS feed' | translate }}">
					<svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
				</a>
			</li>
		</ul>
	</div>
	{% if socialMedia.snapchatUsername is defined %}
		<div class="reveal text-center" id="snapchatModal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
			<object data="https://feelinsonice-hrd.appspot.com/web/deeplink/snapcode?username={{ socialMedia.snapchatUsername }}&amp;type=PNG" type="image/png" height="200px" width="200px">
				<object data="//www.snapchat.com/deeplink/static/image/ghost.svg" height="200px" width="200px"></object>
			</object>
			<h5>{{ socialMedia.snapchatUsername }}</h5>
			<button class="close-button" data-close aria-label="Close modal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif %}
	<div class="bottom-footer">
		<div class="row">
			<div class="column">
				<p class="of-text">{{ 'A ministry of' | translate }}</p>
				<a href="{% if general.footerLogoLink is defined %}{{ general.footerLogoLink }}{% endif %}" title="{% for block in svgLogos.logos.type('footerLogo').limit(1) %}{% switch block.type %}{% case "footerLogo" %}{{ block.footerLogoName }}{% default %}{% endswitch %}{% endfor %}" target="_blank">
					<svg class="footer-logo" aria-labelledby="logo" preserveAspectRatio="xMinYMin meet"><use xlink:href="#footer-logo"></use></svg>
				</a>
				{% if general.copyright is defined %}
					<p class="copyright-text">{{ general.copyright }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</footer>