<header class="main-navigation" id="main-navigation" data-nav-status="toggle" itemscope itemtype="http://schema.org/WPHeader">
	<nav class="top-bar" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<div class="top-bar-title">
			<a class="menu-icon hide-for-large" data-toggle="offCanvas"></a>
			<a class="logo" href="{{ siteRoot }}" title="{{ 'Home' | translate }}">
				<svg class="top-bar-logo" width="80" height="80" aria-labelledby="logo" preserveAspectRatio="xMinYMin meet"><use xlink:href="#logo"></use></svg>
			</a>
		</div>
		<div class="show-for-large">
			{% set navConfig = {
				'startwithActive' : true,
				'maxDepth' : 2,
				'activeClassOnAncestors' : true,
				'ancestorActiveClass' : 'activeAncestor',
			} %}

			{% set navigation = craft.navee.getNav('mainNavigation', navConfig) %}

			<ul class="menu main-menu">
				{% nav node in navigation %}
				<li>
					<a href="{{ node.link }}"{% if node.class %} class="{{ node.class }}"{% endif %}>{{ node.title }}</a>
					{% ifchildren %}
						<ul>{% children %}</ul>
					{% endifchildren %}
				</li>
				{% endnav %}
			</ul>
		</div>
	</nav>
</header>