{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% set title = entry.title %}
{% set description = entry.summary %}
{% set handle = entry.section.handle %}
{% set siteRoot = '/' %}

{% cache %}
	{% minify %}
		<!DOCTYPE html>
		<html class="no-js" lang="en" itemscope itemtype="http://schema.org/WebPage">
			<head>
				<meta charset="utf-8" />
				{% if metatags.xUaCompatible is defined %}<meta http-equiv="x-ua-compatible" content="{{ metatags.xUaCompatible }}">{% endif %}
				{% if metatags.viewport is defined %}<meta name="viewport" content="{{ metatags.viewport }}">{% endif %}
				{% if entry.type.handle == 'homepage' %}
					<title>{{ siteName }}</title>
				{% else %}
					<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
				{% endif %}
				<link type="text/plain" rel="author" href="{{ siteRoot }}humans.txt">
				{% for asset in metatags.appleTouchIcon %}
					<link rel="apple-touch-icon" sizes="180x180" href="{{ asset.url }}">
				{% endfor %}
				{% for asset in metatags.favicon32x32 %}
					<link rel="icon" type="image/png" href="{{ asset.url }}" sizes="32x32">
				{% endfor %}
				{% for asset in metatags.favicon16x16 %}
					<link rel="icon" type="image/png" href="{{ asset.url }}" sizes="16x16">
				{% endfor %}
				<link rel="manifest" href="{{ siteRoot }}manifest.json">
				{% for asset in metatags.maskIcon %}
					<link rel="mask-icon" href="{{ asset.url }}" color="#5bbad5">
				{% endfor %}
				<meta name="apple-mobile-web-app-title" content="{{ siteName }}">
				<meta name="application-name" content="{{ siteName }}">
				{% for asset in entry.coverImage %}
					<link rel="image_src" href="{{ siteUrl }}{{ asset.getUrl('metaImageFit') }}">
				{% endfor %}
				{% if metatags.themeColor and metatags.themeColor != '#000000' %}
					<meta name="theme-color" content="{{ metatags.themeColor }}">
				{% endif %}
				{% if metatags.handheldfriendly is defined %}<meta name="HandheldFriendly" content="true">{% endif %}
				{% if summary != null %}
					<meta name="description" content="{{ summary }}&hellip;">
				{% elseif description is defined %}
					<meta name="description" content="{{ description }}">
				{% endif %}
				{% if entry.type.handle == 'homepage' %}
					<meta itemprop="name" content="{{ siteName }}">
				{% else %}
					{% if title is defined %}
						<meta itemprop="name" content="{{ title }}">
					{% else %}
						<meta itemprop="name" content="{{ siteName }}">
					{% endif %}
				{% endif %}
				{% if entry.type.handle == 'homepage' %}
					<meta property="og:title" content="{{ siteName }}">
				{% else %}
					{% if title is defined %}
						<meta property="og:title" content="{{ title }}">
					{% else %}
						<meta property="og:title" content="{{ siteName }}">
					{% endif %}
				{% endif %}
				<meta property="og:url" content="{{ entry.url }}">
				{% if summary != null %}
					<meta property="og:description" content="{{ summary }}&hellip;">
				{% elseif description is defined %}
					<meta property="og:description" content="{{ description }}">
				{% endif %}
				<meta property="og:site_name" content="{{ siteName }}">
				<meta property="og:type" content="Website">
				{% for asset in entry.coverImage %}
					<meta property="og:image" content="{{ siteUrl }}{{ asset.getUrl('metaImageFit') }}">
					<meta property="og:image:width" content="{{ asset.getWidth('metaImageFit') }}">
					<meta property="og:image:height" content="{{ asset.getHeight('metaImageFit') }}">
					<meta property="og:image:type" content="{{ asset.getMimeType('metaImageFit') }}">
				{% endfor %}
				<meta property="og:locale" content="{{ craft.locale }}">
				{% if metatags.facebookAppId is defined %}<meta property="fb:app_id" content="{{ metatags.facebookAppId }}">{% endif %}
				{% if entry.type.handle == 'homepage' %}
					<meta name="twitter:title" content="{{ siteName }}">
				{% else %}
					{% if title is defined %}
						<meta name="twitter:title" content="{{ title }}">
					{% else %}
						<meta name="twitter:title" content="{{ siteName }}">
					{% endif %}
				{% endif %}
				{% if summary != null %}
					<meta name="twitter:description" content="{{ summary }}&hellip;">
				{% elseif description is defined %}
					<meta name="twitter:description" content="{{ description }}">
				{% endif %}
				<meta name="twitter:card" content="summary">
				{% if socialMedia.twitterHandle is defined %}
					<meta name="twitter:creator" content="@{{ socialMedia.twitterHandle }}">
				{% endif %}
				{% if socialMedia.twitterHandle is defined %}
					<meta name="twitter:site" content="@{{ socialMedia.twitterHandle }}">
				{% endif %}
				{% for asset in entry.coverImage %}
					<meta name="twitter:image" content="{{ siteUrl }}{{ asset.getUrl('metaImageFit') }}">
					<meta name="twitter:image:width" content="{{ asset.getWidth('metaImageFit') }}">
					<meta name="twitter:image:height" content="{{ asset.getHeight('metaImageFit') }}">
					<meta name="twitter:image:alt" content="{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}">
				{% endfor %}
				{% if metatags.robots is defined %}<meta name="robots" content="{{ metatags.robots }}">{% endif %}
				<link rel="alternate" type="application/rss+xml" title="{{ siteName }} | {% for entry in craft.entries.section('blogOverview').find() %}{{ entry.title }}{% endfor %}" href="{{ siteRoot }}feed.rss" />
				{# load fonts from Typekit #}
				<script src="//use.typekit.net/wrd6xsa.js" onload="try{Typekit.load({ async: true });}catch(e){}" async></script>
				{# Google Analytics #}
				{% if metatags.googleAnalylticsCode is defined %}
					<script>
						(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
						(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
						m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
						})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

						ga('create', '{{ metatags.googleAnalylticsCode }}', 'auto');
						ga('send', 'pageview');
					</script>
				{% endif %}
	{% endminify %}
				<style type="text/css">
					{% include 'assets/css/critical.css' %}
					{# create background colour styles for ministry sections #}
					{% if entry.type.handle == 'homepage' %}
						{% for entry in craft.entries.section('homepage').find() %}
								{% for block in entry.ministrySection.offset(0).limit(1) %}
								       {% switch block.type %}

											{% case "ministrySection" %}
												.freshman{background-color: rgba({{ block.colour|hexToRgb }}, 0.7)}
											{% default %}

										{% endswitch %}
								{% endfor %}
								{% for block in entry.ministrySection.offset(1).limit(1) %}
								       {% switch block.type %}

											{% case "ministrySection" %}
												.sophomore{background-color: rgba({{ block.colour|hexToRgb }}, 0.7)}
											{% default %}

										{% endswitch %}
								{% endfor %}
								{% for block in entry.ministrySection.offset(2).limit(1) %}
								       {% switch block.type %}

											{% case "ministrySection" %}
												.varsity{background-color: rgba({{ block.colour|hexToRgb }}, 0.7)}
											{% default %}

										{% endswitch %}
								{% endfor %}
						{% endfor %}
					{% endif %}
				</style>
	{% minify %}
			</head>
			<body class="context-{{ handle }} page-{{ entry.slug }}">
				{% include 'partials/svg.html' %}
				<div class="off-canvas-wrapper animsition" id="top">
					<nav class="off-canvas position-left" id="offCanvas" data-off-canvas itemscope itemtype="http://schema.org/SiteNavigationElement">
						<button class="close-button" aria-label="Close menu" type="button" data-close>
							<span aria-hidden="true">&times;</span>
						</button>
						{# navee menu plugin for craft #}
						{% set navConfig = {
							'startwithActive' : true,
							'maxDepth' : 2,
							'activeClassOnAncestors' : true,
							'ancestorActiveClass' : 'activeAncestor',
						} %}
						{% set navigation = craft.navee.getNav('mainNavigation', navConfig) %}

						<ul class="menu main-menu">
							{% nav node in navigation %}
								<li>
									<a href="{{ node.link }}"{% if node.class %} class="{{ node.class }}"{% endif %}>{{ node.title }}</a>
									{% ifchildren %}
										<ul>{% children %}</ul>
									{% endifchildren %}
								</li>
							{% endnav %}
						</ul>
					</nav>
					<div class="off-canvas-content" data-off-canvas-content>
						{% include 'partials/navigation.html' %}
						<main class="main-content" itemscope itemprop="mainContentOfPage" itemtype="http://schema.org/WebPageElement">
							{% block content %}
								<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
								<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
							{% endblock %}
						</main>
						{% include 'partials/footer.html' %}
					</div>
				</div>
				<script>
					{# generate css after the browser is finished loading #}
					var cb = function () {
						var l = document.createElement('link'); l.rel = 'stylesheet';
						l.href = '{{ siteRoot }}dist/assets/css/app.css';
						var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
					};
					var raf = requestAnimationFrame || mozRequestAnimationFrame ||
						webkitRequestAnimationFrame || msRequestAnimationFrame;
					if (raf) raf(cb);
					else window.addEventListener('load', cb);
				</script>
				{# load image gallery and social sharing buttons for blog and gallery entries #}
				{% if entry.type.handle == 'blog' or entry.type.handle == 'gallery' %}
					{# load site javascript #}
					<script src="{{ siteRoot }}dist/assets/js/app.js"></script>
					<div id="fb-root"></div>
					<script>
						{# load Facebook like/share button #}
						(function (d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (d.getElementById(id)) return;
							js = d.createElement(s); js.id = id;
							js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId={{ metatags.facebookAppId }}";
							fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
					</script>
					{# load Google+ button #}
					<script src="//apis.google.com/js/platform.js" async defer>
						{lang: 'en-GB'}
					</script>
					<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
				{% else %}
					{# load site javascript #}
					<script src="{{ siteRoot }}dist/assets/js/app.js" async defer></script>
				{% endif %}
			</body>
		</html>
	{% endminify %}
{% endcache %}