{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends 'layouts/_error' %}
{% set pageTitle = '404' %}
{% set pageSummary = 'Whoops, can't seem to find the page you're looking for' %}

{% block content %}
	<section class="error-404 error-page-content aligner-middle">
		<div class="row">
			<div class="column text-center">
				<h1 class="header" itemprop="headline">{{ pageTitle }}?!</h1>
				<h4 class="description">{{ pageSummary }}&hellip;</h4>
				<blockquote>Enter by the narrow gate. For the gate is wide and the way is easy that leads to destruction, and those who enter by it are many. For the gate is narrow and the way is hard that leads to life, and those who find it are few.<cite>Matthew 7:13-14 (ESV)</cite></blockquote>
				<p class="home"><a href="/"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg>&nbsp;Home</a></p>
			</div>
		</div>
		<div class="error-overlay"></div>
	</section>
{% endblock %}
