{% extends 'layouts/_regular' %}
{% set heroTitle = entry.title %}
{% set summary = null %}

{% block content %}
	{% include 'partials/hero.html' %}
	{% include 'partials/lead-section.html' %}
	<section class="contact-page page-secondary">
		<div class="contact-details">
			<div class="contact-form">
				<div class="row column relative">
					<svg class="spg-contact-right svg-page-graphic svg-page-graphic--right"><use xlink:href="#trianglewdots"></use></svg>
					<h3 class="heading">{{ 'Contact Form' | translate }}</h3>
					{% macro errorList(errors) %}
						{% if errors %}
							<span class="form-error is-visible">
								{% for error in errors %}
									{{ error }}
								{% endfor %}
							</span>
						{% endif %}
					{% endmacro %}

					{% from _self import errorList %}
					<form method="post" accept-charset="UTF-8" id="ajax-contact">
						{{ getCsrfInput() }}
						<input type="hidden" name="action" value="contactForm/sendMessage">
						{# <input type="hidden" name="redirect" value="contact/thanks"> #}
						<div id="thanks" class="callout success" style="display: none;">{{ 'Thank You! Your message has been sent.' | translate }}</div>
						<div id="error" class="callout error" style="display: none;">{{ 'An error occurred. Please try again.' | translate }}</div>
						<div class="row">
							<div class="small-3 medium-2 columns">
								<label for="fromName" class="left inline">{{ 'Name' | translate }}</label>
							</div>
								<div class="small-9 medium-10 columns">
								<span class="name">
									<input type="text" id="fromName" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}" size="40" aria-invalid="false" placeholder="Enter your name here" required>
									{{ message is defined and message ? errorList(message.getErrors('fromName')) }}
								</span>
							</div>
						</div>
						<div class="row">
							<div class="small-3 medium-2 columns">
								<label for="fromEmail" class="left inline">{{ 'Email' | translate }}</label>
							</div>
							<div class="small-9 medium-10 columns">
								<span class="email">
									<input type="email" id="fromEmail" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}" size="40" class="validates-as-required validates-as-email" aria-invalid="false" placeholder="Enter your email here" required>
									{{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
								</span>
							</div>
						</div>
						<div class="row">
							<div class="small-3 medium-2 columns">
								<label for="subject" class="left inline">{{ 'Subject' | translate }}</label>
							</div>
							<div class="small-9 medium-10 columns">
								<span class="subject">
									<input type="text" id="subject" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}" size="40" class="validates-as-required" aria-invalid="false" placeholder="Enter your subject here" required>
									{{ message is defined and message ? errorList(message.getErrors('subject')) }}
								</span>
							</div>
						</div>
						<div class="row">
							<div class="small-3 medium-2 columns">
								<label for="message" class="left inline">{{ 'Message' | translate }}</label>
							</div>
							<div class="small-9 medium-10 columns">
								<span class="message">
									<textarea name="message" id="message" cols="40" rows="10" aria-invalid="false" placeholder="Enter your message here" required>{% if message is defined %}{{ message.message }}{% endif %}</textarea>
									{{ message is defined and message ? errorList(message.getErrors('message')) }}
								</span>
							</div>
						</div>
						<input class="hide" id="preferredKitten" name="preferredKitten" type="text">
						<div class="row column text-right">
							<div id="spinner"></div>
							<button type="submit" data-text="Send" class="button text-span">{{ 'Send' | translate }}</button>
						</div>
					</form>
				</div>
			</div>
			<div class="google-map-container">
				<div id="map" class="google-map"></div>
			</div>
			<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDSYPUgrtxmePYHu9P1HLyANVxxEtCY3qU"></script>
			<script type="text/javascript">
				google.maps.event.addDomListener(window, 'load', init);

				function init() {
				var mapOptions = {
					zoom: {{ entry.googleMapZoom }},

					center: new google.maps.LatLng({{ entry.googleMapLatitude }}, {{ entry.googleMapLongitude }}),

					styles: [
						{
							"featureType": "all",
							"elementType": "geometry.stroke",
							"stylers": [
								{
									"visibility": "simplified"
								}
							]
						},
						{
							"featureType": "administrative",
							"elementType": "all",
							"stylers": [
								{
									"visibility": "off"
								}
							]
						},
						{
							"featureType": "administrative",
							"elementType": "labels",
							"stylers": [
								{
									"visibility": "simplified"
								},
								{
									"color": "#2e4498"
								}
							]
						},
						{
							"featureType": "landscape",
							"elementType": "all",
							"stylers": [
								{
									"weight": "3.79"
								},
								{
									"visibility": "on"
								},
								{
									"color": "#ebebe4"
								}
							]
						},
						{
							"featureType": "landscape",
							"elementType": "geometry",
							"stylers": [
								{
									"visibility": "on"
								}
							]
						},
						{
							"featureType": "landscape",
							"elementType": "geometry.stroke",
							"stylers": [
								{
									"visibility": "on"
								}
							]
						},
						{
							"featureType": "poi",
							"elementType": "all",
							"stylers": [
								{
									"visibility": "simplified"
								},
								{
									"color": "#26a78d"
								}
							]
						},
						{
							"featureType": "poi.business",
							"elementType": "labels",
							"stylers": [
								{
									"visibility": "on"
								},
								{
									"color": "#26a78d"
								}
							]
						},
						{
							"featureType": "poi",
							"elementType": "geometry",
							"stylers": [
								{
									"saturation": "0"
								},
								{
									"lightness": "0"
								},
								{
									"visibility": "off"
								}
							]
						},
						{
							"featureType": "poi",
							"elementType": "geometry.stroke",
							"stylers": [
								{
									"visibility": "off"
								}
							]
						},
						{
							"featureType": "poi.business",
							"elementType": "all",
							"stylers": [
								{
									"visibility": "simplified"
								},
								{
									"color": "#fbeff0"
								}
							]
						},
						{
							"featureType": "poi.business",
							"elementType": "geometry",
							"stylers": [
								{
									"visibility": "on"
								}
							]
						},
						{
							"featureType": "poi.business",
							"elementType": "geometry.fill",
							"stylers": [
								{
									"visibility": "on"
								},
								{
									"saturation": "0"
								}
							]
						},
						{
							"featureType": "poi.business",
							"elementType": "labels",
							"stylers": [
								{
									"color": "#eba9c7"
								}
							]
						},
						{
							"featureType": "poi.business",
							"elementType": "labels.icon",
							"stylers": [
								{
									"visibility": "simplified"
								},
								{
									"lightness": "84"
								}
							]
						},
						{
							"featureType": "road",
							"elementType": "all",
							"stylers": [
								{
									"saturation" :-100
								},
								{
									"lightness" :45
								}
							]
						},
						{
							"featureType": "road.highway",
							"elementType": "geometry.fill",
							"stylers": [
								{
									"color": "#efea56"
								}
							]
						},
						{
							"featureType": "road.arterial",
							"elementType": "labels.icon",
							"stylers": [
								{
									"visibility": "off"
								}
							]
						},
						{
							"featureType": "transit",
							"elementType": "all",
							"stylers": [
								{
									"visibility": "off"
								}
							]
						},
						{
							"featureType": "water",
							"elementType": "all",
							"stylers": [
								{
									"color": "#b5e2ea"
								},
								{
									"visibility": "on"
								}
							]
						},
						{
							"featureType": "water",
							"elementType": "labels",
							"stylers": [
								{
									"color": "#23afe5"
								},
								{
									"visibility": "on"
								}
							]
						}
					]
				};

				var mapElement = document.getElementById('map');
				var map = new google.maps.Map(mapElement, mapOptions);
				var marker = new google.maps.Marker({
					position: new google.maps.LatLng({{ entry.googleMapLatitude }}, {{ entry.googleMapLongitude }}),
					map: map,
					title: '{{ entry.googleMapsMarkerTitle }}',
					icon: '/dist/assets/img/location.svg'
				});
				}
			</script>
		</div>
	</section>
{% endblock %}