{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends 'layouts/_regular' %}
{% set summary = null %}

{% block content %}
	<section class="hero-section home">
		<div class="hero-bg-overlay home--hero-bg-overlay"></div>
		<div data-interchange="[partials/video-background-image.html, small], [partials/video-background.html, large]"></div>
		<div class="row column carousel-slider">
			<div class="homepage-slider">
				<div class="homepage-slide logo-slide align-self-middle">
					<svg class="hero-logo" width="181.1px" height="181.1px" viewBox="0 0 180.5 181.1" aria-labelledby="logo" preserveAspectRatio="xMinYMin meet">
						<title>{{ siteName }}</title>
						<path class="circle-text" d="M40.7,138.4l4.3,3.5l-0.9,8.9l0.8,0.7l4.7-5.8l3.6,2.9l-13.6,16.9l-6.9-5.6c-3.8-3.1-3.4-7.3-1.1-10.1
						c1.9-2.4,5.2-3.7,8.5-2L40.7,138.4z M38.5,159.3l3.8-4.8l-3-2.5c-1.4-1.1-3.2-0.4-4,0.7c-0.9,1-1.2,2.9,0.1,4L38.5,159.3z M11.3,134
						l18.7-11l2.3,4l-18.7,11L11.3,134z M2.2,110.3l13.3-6.4l-14.7-1.2L0,97.9l22.5,2.6l0.7,4L3.1,115L2.2,110.3z M1,76.2l3.1-13.4l4,0.9
						L6,72.6l4.8,1.1l1.8-7.8l3.9,0.9l-1.8,7.8l4.5,1l2.1-9.2l4,0.9l-3.2,13.7L1,76.2z M40.9,41.9l-3.3,4.4l-8.9-0.7L28,46.5l6,4.5
						l-2.8,3.7L13.9,41.6l5.4-7.1c3-3.9,7.2-3.6,10-1.5c2.5,1.9,3.8,5,2.2,8.5L40.9,41.9z M19.9,40.4l4.9,3.7l2.4-3.1
						c1.1-1.4,0.3-3.2-0.8-4c-1.1-0.8-3-1.1-4,0.2L19.9,40.4z M41,14.4l4-2.3l8.7,15.3l7.1-4l2,3.5l-11.1,6.3L41,14.4z M76.4,0.9
						l3.9,21.3L75.8,23L71.9,1.7L76.4,0.9z M99,0l13.4,2.2l-0.6,4L103,4.7l-0.8,4.9l7,1.1l-0.6,4l-7-1.1l-1.4,8.6l-4.6-0.7L99,0z
						 M132.9,10l11.7,7.3l-2.1,3.4l-7.8-4.8l-2.6,4.2l6.8,4.2l-2.1,3.4l-6.8-4.2l-2.4,3.9l8,5l-2.2,3.4l-11.9-7.4L132.9,10z M155.4,67.2
						l9.4-3l8.8-11.6l1.7,5.2l-6.2,7.4l9.3,2.6l1.7,5.2l-13.9-4.4l-9.3,3L155.4,67.2z M180.3,103c-0.9,6.1-6.5,10.2-12.6,9.3
						c-6-0.9-10.3-6.4-9.4-12.5c0.9-6.1,6.5-10.2,12.6-9.3C177,91.4,181.2,96.9,180.3,103 M162.8,100.5c-0.5,3.6,2,6.8,5.6,7.3
						c3.6,0.5,6.9-1.9,7.4-5.4c0.5-3.6-2-6.7-5.6-7.3C166.6,94.6,163.3,96.9,162.8,100.5 M150.9,137.4l11.4,8l-2.7,3.8l-11.4-8
						c-4-2.8-4.3-7.9-1.8-11.5c2.6-3.7,7.4-5.1,11.5-2.3l11.4,8l-2.7,3.8l-11.4-8c-1.8-1.3-4.1-0.7-5.2,0.9
						C149,133.7,149.1,136.1,150.9,137.4 M143.2,164.2l-14.1,8.3l-2.1-3.6l5.1-3l-8.9-15.1l4-2.4l8.9,15.1l5.1-3L143.2,164.2z
						 M90.7,181.1l-2.1-21.6l4.6-0.4l0.8,8.7l7.7-0.7l-0.8-8.7l4.6-0.4l2.1,21.6l-4.6,0.4l-0.8-8.8l-7.7,0.7l0.8,8.8L90.7,181.1z"/>
						<path class="ry-initials" d="M75.4,112.2H62.9l-7.3-11.3v11.3H45.2v-38H61c9,0,13.1,6.7,13.1,13c0,5.6-3,10.1-7.9,12L75.4,112.2z
						 M64.4,109.3h5.4l-8.4-12l2.1-0.5c5.6-1.2,7.6-5.8,7.6-9.8c0-5-3.2-10.1-10.2-10.1H48.1v32.3h4.6V97.2h3.9L64.4,109.3z M60.4,93.5
						h-7.8V80.7h8c3.6,0,5.7,3.2,5.7,6.4S64.1,93.5,60.4,93.5 M55.5,90.6h4.9c2.2,0,3-2.2,3-3.5c0-1.4-0.9-3.5-2.8-3.5h-5.1V90.6z
						 M91.2,112.7c-3.3,0-5.8-2.5-5.8-5.7c0-3.2,2.6-5.7,5.8-5.7c3.3,0,5.9,2.5,5.9,5.7C97.1,110.2,94.5,112.7,91.2,112.7 M91.2,104.2
						c-1.7,0-2.9,1.2-2.9,2.8c0,1.6,1.3,2.8,2.9,2.8c1.7,0,3-1.2,3-2.8C94.2,105.4,92.9,104.2,91.2,104.2 M125.8,112.2h-10.5V95.3
						l-14.9-21.1h12.4l7.7,11.9l7.8-11.9h12.4l-15,21.2V112.2z M118.2,109.3h4.7V94.5L135.2,77h-5.3l-9.4,14.4L111.3,77H106l12.2,17.3
						V109.3z"/>
					</svg>
				</div>
				<div class="homepage-slide term-flyer align-self-middle">
					<h3>{{ 'Current Term' | translate }}</h3>
					<div class="term-dates row small-up-1 medium-up-2">
						{% set category = craft.categories.group('events') %}
						{% set entries = craft.entries.section('event').relatedTo(category).order('dayStart asc') %}
						{% for entry in entries %}
							<div class="column{% if entry.category | length < 2 %} {{ entry.category.first().title|lower }}{% else %} all-grades{% endif %}">
								<span class="event-information">{{ entry.dayStart | date('d.m') }}{% if entry.dayEnd | length %}&nbsp;+&nbsp;{{ entry.dayEnd | date('d.m') }}{% endif %}&nbsp;&#8212;&nbsp;{{ entry.title }} ({% if entry.category | length > 2 %}7&#8212;12{% else %}{{ entry.category.first().title }}{% endif %})</span>
							</div>
						{% endfor %}
					</div>
					{% for entry in craft.entries.section('whatsOn').find() %}
						<a href="{{ entry.url }}" title="{{ 'More on term events' | translate }}" data-text="{{ 'More' | translate }}" class="button tiny text-span">{{ 'More' | translate }}</a>
					{% endfor %}
				</div>
				{% for entry in craft.entries.section('event').search('frontPageSlide:1') %}
					<div class="homepage-slide event-flyer align-self-middle">
						<div class="day-container">
							<p class="day">
								{% if entry.reoccurring %}
									{{ entry.dayStart | date('l') }}s at {{ entry.timeStart | date('g') }}<sub>{{ entry.timeStart | date('a') }}</sub>
								{% else %}
									{{ entry.dayStart | date('l') }}{% if entry.dayEnd | length %}&ndash;{{ entry.dayEnd | date('l') }}{% endif %}&nbsp;{{ entry.dayStart | date('j F') }}
								{% endif %}
							</p>
						</div>
						<h3 class="event-title">{{ entry.title }}</h3>
						{% if entry.reoccurring or entry.dayEnd %}
						{% else %}
							{% if entry.timeStart | length %}
								<p class="time">
									{{ entry.timeStart | date('g:ia') }}{% if entry.timeEnd | length %}&ndash;{{ entry.timeEnd | date('g:ia') }}{% endif %}
								</p>
							{% endif %}
						{% endif %}
						{% if entry.details | length %}
							<p class="details">{{ entry.details }}</p>
						{% endif %}
						{% if entry.location | length %}
							<p class="location">
								{{ 'at' | translate }}&nbsp;{{ entry.location.first().title }}
							</p>
						{% endif %}
						{% if entry.moreInfoLink|length %}
							<a href="{{ entry.moreInfoLink.url }}"{% if entry.moreInfoLink.target | length %} target="{{ entry.moreInfoLink.target }}"{% endif %} title="{{ 'More about ' | translate }}{{ entry.title }}" class="button tiny text-span" data-text="{{ entry.moreInfoLink.text }}">{{ entry.moreInfoLink.text }}</a>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<section class="ministry-introductions">
		<div class="ministry welcome">
			<div class="row">
				<div class="content small-6 medium-3 columns">
					{% for block in entry.body %}
						{% switch block.type %}

							{% case "header" %}
								<h4>{{ block.header|raw }}</h4>

							{% case "text" %}
								{{ block.text }}

							{% case "button" %}
								<a href="{{ block.buttonLink.url }}"{% if block.buttonLink.target | length %} target="{{ block.buttonLink.target }}"{% endif %} class="button text-span" data-text="{{ block.buttonLink.text }}">{{ block.buttonLink.text }}</a>

							{% default %}

						{% endswitch %}
					{% endfor %}
				</div>
			</div>
		</div>
		{% for block in entry.ministrySection.offset(0).limit(1) %}
			{% switch block.type %}

				{% case "ministrySection" %}
					<div class="ministry ministry-1" style="background: linear-gradient(rgba({{ block.colour|hexToRgb }}, .8), rgba({{ block.colour|hexToRgb }}, .8)), url('{% for asset in block.image %}{{ asset.getUrl('ministrySection') }}{% endfor %}') 50%/cover no-repeat">
						<div class="row align-right">
							<div class="content small-12 medium-7 columns">
								<h2 class="ministry-name" itemprop="headline">
									{% for block in svgLogos.logos.type('ministryLogo').offset(0).limit(1) %}
										{% switch block.type %}

											{% case "ministryLogo" %}
												<svg class="ministry-logo" viewBox="{{ block.viewbox }}" aria-labelledby="ministry-{{ block.ministryName|lower }}-logo" preserveAspectRatio="xMinYMin meet"><use xlink:href="#ministry-{{ block.ministryName|lower }}-logo"></use></svg><span class="show-for-sr">{{ block.ministryName }}</span>
											{% default %}

										{% endswitch %}
									{% endfor %}
								</h2>
								{{ block.body }}
							</div>
						</div>
					</div>

				{% default %}

			{% endswitch %}
		{% endfor %}
		{% for block in entry.ministrySection.offset(1).limit(1) %}
			{% switch block.type %}

				{% case "ministrySection" %}
					<div class="ministry ministry-2" style="background: linear-gradient(rgba({{ block.colour|hexToRgb }}, .8), rgba({{ block.colour|hexToRgb }}, .8)), url('{% for asset in block.image %}{{ asset.getUrl('ministrySection') }}{% endfor %}') 50%/cover no-repeat">
						<div class="row">
							<div class="content small-12 medium-7 columns">
								<h2 class="ministry-name" itemprop="headline">
									{% for block in svgLogos.logos.type('ministryLogo').offset(1).limit(1) %}
										{% switch block.type %}

											{% case "ministryLogo" %}
												<svg class="ministry-logo" viewBox="{{ block.viewbox }}" aria-labelledby="ministry-{{ block.ministryName|lower }}-logo" preserveAspectRatio="xMinYMin meet"><use xlink:href="#ministry-{{ block.ministryName|lower }}-logo"></use></svg><span class="show-for-sr">{{ block.ministryName }}</span>
											{% default %}

										{% endswitch %}
									{% endfor %}
								</h2>
								{{ block.body }}
							</div>
						</div>
					</div>

				{% default %}

			{% endswitch %}
		{% endfor %}
		{% for block in entry.ministrySection.offset(2).limit(1) %}
			{% switch block.type %}

				{% case "ministrySection" %}
					<div class="ministry ministry-3" style="background: linear-gradient(rgba({{ block.colour|hexToRgb }}, .8), rgba({{ block.colour|hexToRgb }}, .8)), url('{% for asset in block.image %}{{ asset.getUrl('ministrySection') }}{% endfor %}') 50%/cover no-repeat">
						<div class="row align-right">
							<div class="content small-12 medium-7 columns">
								<h2 class="ministry-name" itemprop="headline">
									{% for block in svgLogos.logos.type('ministryLogo').offset(2).limit(1) %}
										{% switch block.type %}

											{% case "ministryLogo" %}
												<svg class="ministry-logo" viewBox="{{ block.viewbox }}" aria-labelledby="ministry-{{ block.ministryName|lower }}-logo" preserveAspectRatio="xMinYMin meet"><use xlink:href="#ministry-{{ block.ministryName|lower }}-logo"></use></svg><span class="show-for-sr">{{ block.ministryName }}</span>
											{% default %}

										{% endswitch %}
									{% endfor %}
								</h2>
								{{ block.body }}
							</div>
						</div>
					</div>

				{% default %}

			{% endswitch %}
		{% endfor %}
		{% for block in entry.quote %}
			{% switch block.type %}

				{% case "quote" %}
					<div class="ministry quote">
						<div class="row">
							<div class="content small-12 medium-4 columns">
								<blockquote>{{ block.quote|striptags('<strong><em><br>')|raw|nl2br }}<cite>{{ block.citation }}</cite></blockquote>
							</div>
						</div>
					</div>

				{% default %}

			{% endswitch %}
		{% endfor %}
	</section>
	<section class="blog-entries">
		<div class="row column relative">
			<svg class="squiggle-blog-latest"><use xlink:href="#squiggle"></use></svg>
			{% for entry in craft.entries.section('blogOverview').find() %}
				<h1 class="header rotated-text text-span" itemprop="headline">{{ entry.title }}</h1>
			{% endfor %}
		</div>
		<div class="row small-up-1 medium-up-3 grid">
			<svg class="triwlines-snippet"><use xlink:href="#triwlines"></use></svg>
			{% for entry in craft.entries.section('blog').limit(3).find() %}
				{% include 'partials/snippets.html' %}
			{% endfor %}
		</div>
		<div class="row column">
			{% for entry in craft.entries.section('blogOverview').find() %}
				<a href="{{ entry.url }}" title="{{ 'More' | translate }}&nbsp;{{ entry.title }}&nbsp;{{ 'Posts' | translate }}" data-text="{{ 'More' | translate }}" class="button text-span">{{ 'More' | translate }}</a>
			{% endfor %}
		</div>
	</section>
{% endblock %}