// .blog {
// 	background-image: url('../img/blog.jpg');
// }

.context-blog,
.context-blogOverview {

	.hero-bg-overlay {
		background: linear-gradient(50deg, $quaternary-colour 0, $primary-color 100%);
	}

	// .main-menu {

	// 	a[href*="blog"] {
	// 		color: $medium-gray;
	// 	}

	// }

}

.blog-entries,
.context-blog .page-main,
.context-blogOverview .page-main {
	background-color: $secondary-color;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='#{$secondary-color-bg}' fill-opacity='0.23'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

	.button {
		background: transparent;
		border: 2px darken($secondary-color, 30%) solid;
		color: darken($secondary-color, 30%);

		&:hover,
		&:focus {
			background: darken($secondary-color, 30%);
			border: 2px darken($secondary-color, 30%) solid;
		}

	}

}

.blog-entries {
	color: $white;
	text-align: center;
	margin-top: rem-calc(-200);
	padding-top: rem-calc(200);
	padding-bottom: rem-calc(120);

	&.ie-fix {
		margin-top: 0;
		padding-top: rem-calc(120);
	}

	.header {
		color: $white;
		font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h1', 'font-size') * 1px);

		@include breakpoint(small only) {
			font-size: rem-calc(map-deep-get($header-styles, 'small', 'h1', 'font-size') * 1px);
		}

	}

}