.footer-section {

	a {
		color: $white;

		&:hover,
		&:focus {
			color: $primary-color;
		}

	}

	p {
		font-size: (1rem / 2);
		text-transform: uppercase;
	}

}

.top-footer {
	background: $dark-gray;
	padding-top: rem-calc(30);
	padding-bottom: rem-calc(60);
	text-align: center;
}

.scroll-to-top {
	margin-bottom: $paragraph-margin-bottom;
	font-size: 3rem;
}

.social-links {
	flex-flow: row wrap;

	> li {

		> a {
			font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h5', 'font-size') * 1px);
			margin: 0.5rem;
			text-align: center;

			&:hover,
			&:focus {
				background-color: $primary-color;
				color: $white;
			}

			svg {
				margin: 0;
			}

		}

	}

	.facebook {
		background-color: $facebook;
	}

	.instagram {
		background-color: $instagram;
	}

	.snapchat {
		background-color: $snapchat;
		color: $black;
	}

	.vimeo {
		background-color: $vimeo;
	}

	.twitter {
		background-color: $twitter;
	}

	.rss {
		background-color: $rss;
	}

}

.bottom-footer {
	padding-top: rem-calc(30);
	padding-bottom: rem-calc(30);
	text-align: center;
	color: $white;
	background-color: lighten($black, 40%);
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.of-text {
	letter-spacing: rem-calc(10);
}

.footer-logo {
	fill: currentColor;
	width: rem-calc(170.703px);
	height: rem-calc(63.666px);
}

.copyright-text {
	margin: $paragraph-margin-bottom 0;
	letter-spacing: rem-calc(3);
}