.button {
	overflow: hidden;
	font-weight: $global-weight-bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;

	&::before {
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 1em 0;
		transition: transform 0.3s, opacity 0.3s;
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	}

	> span {
		display: inline-block;
		padding: 1em 0;
		opacity: 0;
		color: $button-color;
		transform: translate3d(0, -10px, 0);
		transition: transform 0.3s, opacity 0.3s;
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	}

	&:hover,
	&:focus {

		&::before {
			opacity: 0;
			transform: translate3d(0, 100%, 0);
		}

		> span {
			opacity: 1;
			transform: translate3d(0, 0, 0);

			@for $i from 1 through 12 {

				&:nth-child(#{$i}) {
					transition-delay: (#{0.00s + $i * 0.045s});
				}

			}

		}

	}

}