.hero-section {
	height: 130vh;
	background-size: cover;
	background-position: center center;
	position: relative;
	color: $white;
	text-shadow: 1px 1px 7px rgba($black, 0.5);
	z-index: 1;

	@include breakpoint(xxlarge only) {
		height: 100vh;
	}

	&.home {

		@include medium-portrait {
			height: 120vh;
		}

		@include medium-landscape {
			height: 155vh;
		}

		@include small-landscape {
			height: 240vh;
		}

	}

	&.ie-fix {
		height: 90vh;
	}

}

.video-bg {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
	background: #5b646b url('/assets/img/video-bg.jpg') center center no-repeat;
	background-size: cover;

	@include medium-landscape {
		height: 140%;
	}

}

.hero-bg-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	opacity: 0.7;
	z-index: 2;

	@include medium-landscape {
		height: 140%;
	}

}

.carousel-slider {
	position: relative;
	top: 40%;
	transform: translateY(-50%);
	z-index: 3;

	.ie-fix & {
		top: 55%;
	}

	@include medium-landscape {
		top: 50%;
	}

}

.homepage-slide {
	overflow: none;
	outline: none;
}

.slick-prev,
.slick-next,
.slick-dots button,
.hero-logo {
	filter: drop-shadow(1px 1px 7px rgba($black, 0.5));
}

.hero-logo,
.hero-title {
	position: relative;
	z-index: 3;
}

.hero-logo {
	fill: currentColor;
	// position: relative;
	// z-index: 3;

	// .ie-fix & {
	// 	margin-top: 0;
	// }

	.home & {
		// margin-top: 0;
		width: rem-calc(300);
		height: rem-calc(300);

		@include breakpoint(small only) {
			width: 70%;
			height: 70%;
		}

	}

}

.hero-title {
	position: relative;
	z-index: 3;
	font-family: 'Sushi Bar';
	font-size: rem-calc(170);
	margin: 0;
	padding: 0;

	.page-header & {
		margin-top: -10%;

		@include breakpoint(small only) {
			font-size: rem-calc(80);
		}

	}

	.home &,
	.ie-fix & {
		margin-top: 0;
	}

}

.logo-slide,
.term-flyer,
.event-flyer {
	text-align: center;

	.button {
		margin-top: 1rem;
		background: transparent;
		border: 2px $white solid;
		color: $white;
		padding: 0 1em;

		&:hover,
		&:focus {
			background: $primary-color;
			border: 2px $primary-color solid;
		}

	}

}

.term-flyer {

	.container {
		padding-left: rem-calc(15);
		padding-right: rem-calc(15);
	}

	.column {
		border-bottom: 2px solid $white;

		@include breakpoint(small only) {
			font-size: rem-calc(10);
			line-height: 1.4;
		}

	}

}

.all-grades {
	background-color: rgba($secondary-color, 0.4);
}

.event-flyer {

	p {
		margin-bottom: 0;
	}

	.event-title {
		font-family: 'Sushi Bar';
		font-weight: normal;
		font-size: rem-calc(100);
		margin: 0;
		line-height: 1;

		@include breakpoint(small only) {
			font-size: rem-calc(60);
		}

	}

	.day {
		text-transform: uppercase;
		letter-spacing: rem-calc(5);
		margin-right: rem-calc(-5);

		sub,
		sup {
			font-size: rem-calc(12);
		}

		sub {
			bottom: 0;
		}

		sup {
			top: rem-calc(-4);
		}

	}

	.time,
	.details,
	.extra-details {
		font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h5', 'font-size') * 1px);
	}

	.time {
		color: $quaternary-colour;
	}

}