@font-face {
	font-family: 'Sushi Bar';
	src: url('/assets/fonts/sushi-bar-regular.woff2') format('woff2'),
		url('/assets/fonts/sushi-bar-regular.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

::selection {
	background: $primary-color;
	color: $white;
}

figure {
	margin: 0;
}

iframe {
	border: 0;
}

p {
	font-size: rem-calc(18);

	&:last-child {
		margin-bottom: 0;
	}

	&:only-child {
		margin-bottom: $paragraph-margin-bottom;
	}

}

a,
input,
optgroup,
select,
textarea,
button {
	font-family: $body-font-family;
	font-synthesis: none;
	transition: all $transition-time ease-in-out;

	&:focus {
		outline: none;
	}

}

em {
	font-family: "Baskerville", "Apple Garamond", "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif;
}

address {
	font-style: normal;
	margin-bottom: $paragraph-margin-bottom;
}

svg {
	vertical-align: middle;
}

blockquote {
	position: relative;
	font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h5', 'font-size') * 1px);
	background-color: $code-background;
	margin-top: rem-calc(40);
	padding-top: rem-calc(30);
	padding-bottom: rem-calc(30);
	opacity: 0;

	&::before {
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='32' height='32' viewBox='0 0 32 32'%3E %3Cpath fill='#{$secondary-color-light-rgb}' d='M7.031 14c3.866 0 7 3.134 7 7s-3.134 7-7 7-7-3.134-7-7l-0.031-1c0-7.732 6.268-14 14-14v4c-2.671 0-5.182 1.040-7.071 2.929-0.364 0.364-0.695 0.751-0.995 1.157 0.357-0.056 0.724-0.086 1.097-0.086zM25.031 14c3.866 0 7 3.134 7 7s-3.134 7-7 7-7-3.134-7-7l-0.031-1c0-7.732 6.268-14 14-14v4c-2.671 0-5.182 1.040-7.071 2.929-0.364 0.364-0.695 0.751-0.995 1.157 0.358-0.056 0.724-0.086 1.097-0.086z'%3E%3C/path%3E %3C/svg%3E");
		left: rem-calc(16);
		top: rem-calc(-35);
		width: 100%;
		height: 100%;
		position: absolute;
		background-repeat: no-repeat;
		background-size: rem-calc(60);
	}

}

cite {
	margin-top: $global-margin;
}

.responsive-svg-container {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.responsive-svg {
	max-width: 100%;
	max-height: 100%;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.old-browser-notice {
	text-align: center;
	font-weight: $global-weight-bold;
	padding-top: $paragraph-margin-bottom;
	padding-bottom: $paragraph-margin-bottom;
	background-color: $white;
}

.visual-hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

element-invisible {
	@include element-invisible;
}

.nowrap {
	white-space: nowrap;
}

// styling for Pace, an automatic web page progress bar.

.pace {
	pointer-events: none;
	user-select: none;

	.pace-progress {
		background: $white;
		position: fixed;
		z-index: 2000;
		top: 0;
		right: 100%;
		width: 100%;
		height: rem-calc(10);
	}

}

.pace-inactive {
	display: none;
}

.off-canvas,
.animsition-overlay-slide {
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='#{$primary-color-bg}' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.aligner-middle,
.aligner-middle-left,
.aligner-middle-right {
	display: flex;
	align-items: center;
}

// .aligner-middle-right {
// 	justify-content: flex-end;
// }

.aligner-middle {
	justify-content: center;
}

// .aligner-item {
// 	max-width: 50%;
// }

.reveal {
	outline: none;
}