@mixin small-portrait {

    @media screen and #{breakpoint(small down)} and #{breakpoint(portrait)} {
        @content;
    }

}

@mixin small-landscape {

    @media screen and #{breakpoint(small down)} and #{breakpoint(landscape)} {
        @content;
    }

}

@mixin medium-portrait {

    @media screen and #{breakpoint(medium only)} and #{breakpoint(portrait)} {
        @content;
    }

}

@mixin medium-landscape {

    @media screen and #{breakpoint(medium only)} and #{breakpoint(landscape)} {
        @content;
    }

}

@mixin loading-icon {
    background: url("data:image/svg+xml,%3Csvg width='120px' height='120px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='uil-ripple'%3E%3Crect x='0' y='0' width='100' height='100' fill='none' class='bk'%3E%3C/rect%3E%3Cg%3E %3Canimate attributeName='opacity' dur='2s' repeatCount='indefinite' begin='0s' keyTimes='0;0.33;1' values='1;1;0'%3E%3C/animate%3E%3Ccircle cx='50' cy='50' r='40' stroke='#{$white-rgb}' fill='none' stroke-width='6' stroke-linecap='round'%3E%3Canimate attributeName='r' dur='2s' repeatCount='indefinite' begin='0s' keyTimes='0;0.33;1' values='0;22;44'%3E%3C/animate%3E%3C/circle%3E%3C/g%3E%3Cg%3E%3Canimate attributeName='opacity' dur='2s' repeatCount='indefinite' begin='1s' keyTimes='0;0.33;1' values='1;1;0'%3E%3C/animate%3E%3Ccircle cx='50' cy='50' r='40' stroke='#{$light-gray-rgb}' fill='none' stroke-width='6' stroke-linecap='round'%3E%3Canimate attributeName='r' dur='2s' repeatCount='indefinite' begin='1s' keyTimes='0;0.33;1' values='0;22;44'%3E%3C/animate%3E%3C/circle%3E%3C/g%3E%3C/svg%3E") no-repeat scroll center center transparent;
}