.main-navigation {
	position: fixed;
	z-index: 999;
	width: 100%;
	transition: all $transition-time;
	background: linear-gradient(to bottom, rgba($black, 1) 0%,rgba($black, 0) 100%);
	top: 0;

	// &.is-hidden {
	// 	opacity: 0;
	// }

	// &.is-visible {
	// 	opacity: 1;
	// }

}

.main-menu ul {
	@extend .menu;
}

.top-bar {
	color: $white;

	a.logo {
		border-radius: 100%;
		width: rem-calc(79);
		height: rem-calc(79);
		display: block;
		box-shadow: none;
		position: relative;
		vertical-align: middle;
		box-sizing: border-box;
		background: none;
  		border: 0;
  		padding: 0;
  		color: inherit;

		&::before,
		&::after {
			border-radius: 100%;
			top: 0.2px;
			left: 0.2px;
			content: '';
			position: absolute;
			width: 101.3%;
			height: 101.3%;
		}

		&::before {
			border: 4px solid transparent;
		}

		&::after {
			border: 0 solid transparent; // Makes border thinner at the edges? I forgot what I was doing
		}

		&:hover,
		&:focus {
			color: $medium-gray;

			&::before {
				border-top-color: $primary-color; // Show borders
				border-right-color: $primary-color;
				border-bottom-color: $primary-color;

				transition:
					border-top-color 0.07s linear, // Stagger border appearances
					border-right-color 0.07s linear 0.10s,
					border-bottom-color 0.07s linear 0.20s;
			}

			&::after {
				border-top: 4px solid $primary-color; // Shows border
				border-left-width: 4px; // Solid edges, invisible borders
				border-right-width: 4px; // Solid edges, invisible borders
				transform: rotate(270deg); // Rotate around circle
				transition:
					transform 0.4s linear 0s,
					border-left-width 0s linear 0.35s; // Solid edge post-rotation
			}

		}

	}

	.top-bar-logo {
		fill: currentColor;
	}

	li > a {
		color: inherit;
		position: relative;
		transition: all .3s ease;
		font-weight: $global-weight-bold;
		text-transform: uppercase;
		letter-spacing: rem-calc(2);
		margin-right: rem-calc(-2);

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: rem-calc(3);
			visibility: hidden;
			transform: scaleX(0);
			background: $primary-color;
			transition: all $transition-time ease;
		}

		&:hover,
		&:focus,
		&.active {
			color: $medium-gray;
		}


		&:hover,
		&:focus {

			&::after {
				transform: scaleX(1);
				visibility: visible;
			}

		}

	}

	ul {
		background: transparent;
	}

}

.top-bar-title {

	@include breakpoint(medium down) {
		margin: 0 auto;
	}

}

.menu-icon {
	@include hamburger($white, $primary-color, 40px, 30px, 3px, 3);
	position: absolute;
	left: 1rem;
	top: rem-calc(20);

	&::after {
		transition: all $transition-time ease-in-out;
	}

}