.loading-icon {
	@include loading-icon;
}

.page-main,
.page-secondary {
	padding-top: rem-calc(60);
	padding-bottom: rem-calc(60);
	position: relative;

	a {
		position: relative;
		white-space: nowrap;

		&::after {
			content: '';
			position: absolute;
			bottom: -.3em;
			left: 50%;
			right: 50%;
			height: rem-calc(3);
			background: currentColor; // system color
			transition: all ease $transition-time;
		}

		&:hover,
		&:focus {

			&::after {
				left: 0;
				right: 0;
			}

		}

	}

}

.page-main {
	color: $white;
	z-index: 2;

	a {
		color: $secondary-color-light-30;

		&:hover,
		&:focus {
			color: $primary-color;
		}

	}

	&.slope-page {
		margin-top: rem-calc(-250);
		padding-top: rem-calc(120);
		// clip-path: polygon(
		// 	//0 0, /* left top */
		// 	//100% 80%, /* right top */
		// 	//100% 100%, /* right bottom */
		// 	//0 100% /* left bottom */
		// 	0 0, 100% 20%, 100% 100%, 0 100%
		// );

		// @include breakpoint(small only) {
		// 	clip-path: polygon(
		// 		//0 0, /* left top */
		// 		//100% 80%, /* right top */
		// 		//100% 100%, /* right bottom */
		// 		//0 100% /* left bottom */
		// 		0 0, 100% 10%, 100% 100%, 0 100%
		// 	);
		// }

		@include small-portrait {
			padding-top: rem-calc(170);
		}

		@include small-landscape {
			margin-top: rem-calc(-170);
		}

		@include medium-landscape {
			margin-top: rem-calc(-170);
		}

	}

	.header {
		color: $white;
		// font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h2', 'font-size') * 1px);

		// @include breakpoint(small only) {
		// 	font-size: rem-calc(map-deep-get($header-styles, 'small', 'h2', 'font-size') * 1px);
		// }

	}

}

.page-secondary {
	z-index: 3;
	background-color: $white;
	background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='#{$secondary-color-rgb}' fill-opacity='0.05'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

	.ministry-logo {
		fill: currentColor;
		width: rem-calc(300);
	}

	&.contact-page {
		padding-top: 0;
		padding-bottom: 0;
	}

	figure {
		margin-bottom: $paragraph-margin-bottom;
	}

}

.header {
	margin-bottom: rem-calc(30);
	text-transform: uppercase;
	font-style: italic;
	text-shadow: 2px 5px 0 rgba($black, 0.2);
}

.fade {
	@include mui-animation(fade);
	animation-duration: 1s;
	animation-fill-mode: both;
}

.content {

	p {
		opacity: 0;

		@for $i from 1 through 15 {

			&:nth-child(#{$i}) {
				animation-delay:(#{0s + $i * 0.25s});
			}

		}

	}

}

.lead-paragraphs {

	p {
		@extend .lead;
	}

}

.responsive-embed {
	margin-top: $paragraph-margin-bottom;
}

a.snippet {
	position: relative;
	display: block;
	flex: none;
	height: rem-calc(415);
	color: $white;
	perspective: 1000px;
	margin-bottom: rem-calc(60);
	text-align: left;
	white-space: normal;

	* {
		pointer-events: none;
	}

	&::after {
		content: normal;
	}

	&:hover,
	&:focus {
		color: $white;
		outline: none;

		.snippet__deco--lines {

			path {
				stroke-dashoffset: 0;
			}

		}

		.snippet__deco--overlay {
			opacity: 1;
		}

	}

}

.snippet__image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
}

.snippet__figure {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;

	> * {
		transform: translateZ(0px); /* Force correct stacking order */
	}

	&::before {
		content: '';
		position: absolute;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		box-shadow: 0 30px 20px rgba($black, 0.5);
	}

}


.snippet__deco {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.snippet__deco--overlay {
	background-image: linear-gradient(45deg, rgba($primary-color, 0.6), rgba($secondary-color, 0.6));
	opacity: 0.65;
	transition: all $transition-time;
}

.snippet__deco--shine::after {
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	background-image: linear-gradient(45deg, rgba($black, 0.5) 0%, rgba($white, 0.25) 50%, transparent 100%);
}

.snippet__deco--lines {
	fill: none;
	stroke: $white;
	stroke-width: 3px;

	@include breakpoint(large up) {
		transform: scaleX(1.2) scaleY(1);
	}

	@include breakpoint(medium down) {
		stroke-width: 0px;
	}

	path {
		stroke-dasharray: 1270;
		stroke-dashoffset: 1270;
		transition: stroke-dashoffset $transition-time;
	}

}

.snippet__caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 4em;
	color: $white;

	@include breakpoint(medium only) {
		padding: 2em;
	}

}

.snippet__title {
	font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h4', 'font-size') * 1px);
	font-weight: normal;
	line-height: 1;
	margin: 0;

	@include breakpoint(medium down) {
		font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h5', 'font-size') * 1px);
	}

}

.snippet__description {
	font-size: 0.85em;
	margin: rem-calc(16 -3 0 0);
	letter-spacing: rem-calc(3);
}

// post meta

p.post-meta {
	color: $secondary-color-light-43;
	font-size: rem-calc(12);
	text-transform: uppercase;
	letter-spacing: rem-calc(3);
	margin-right: rem-calc(-3);

	@include small-portrait {
		font-size: 7.5px;
		letter-spacing: rem-calc(1);
	}

	a {

		&::after {
			content: normal;
		}

	}

	span {
		margin-right: rem-calc(15);
	}

	.date {
		margin-right: 0;
	}

	.icon {
		margin-top: rem-calc(-3px);
		margin-right: rem-calc(10);
	}

	.icon-chevron-left {
		font-size: 1.1rem;
	}

}

// social

.social-share.menu {
	margin-top: $paragraph-margin-bottom;
	border-top: 2px dotted $body-font-color;
	padding-top: $paragraph-margin-bottom;
	margin-bottom: ($paragraph-margin-bottom * 2);
	border-bottom: 2px dotted $body-font-color;
	padding-bottom: $paragraph-margin-bottom;
	flex-flow: row wrap;

	> li {
		position: relative;
		margin-right: rem-calc(10);

		> a {
			font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h5', 'font-size') * 1px);
			padding: 0;

			svg {
				margin: 0;
			}

			&::after {
				content: normal;
			}

		}

	}

	svg {
		margin: 0;
	}

	// .facebook {
	// 	top: rem-calc(1);
	// }

	.twitter {
		top: rem-calc(6);
	}

	// .pinterest {
	// 	top: rem-calc(0);
	// }

	.google-plus {
		top: rem-calc(6);
	}

	.share {
		top: rem-calc(2);
		margin-right: 0;
	}

}

// next and previous post pagination

.small-text {
	text-transform: uppercase;
	font-size: rem-calc(8);
	letter-spacing: rem-calc(3);

	.next-post & {
		margin-left: rem-calc(16);
	}

	.previous-post & {
		margin-right: rem-calc(16);
	}

}

.next-post,
.previous-post {

	a {
		white-space: normal;
	}

}

.next-post {
	text-align: left;

	@include breakpoint(small only) {
		margin-bottom: $paragraph-margin-bottom;
	}

}

.previous-post {
	text-align: right;
}

// lazy loading images

.image-colour {
	display: inline-block;
	margin-bottom: $thumbnail-margin-bottom;

	img {
		opacity: 0;
		transition: opacity $transition-time ease;
	}

	&.loaded img {
		opacity: 1;
	}

}