$tertiary-colour: invert(get-color(secondary));
$quaternary-colour: invert(get-color(primary));

$primary-color-light-20: lighten(get-color(primary), 20%);
$primary-color-light-30: lighten(get-color(primary), 30%);
$primary-color-light-43: lighten(get-color(primary), 43%);
$secondary-color-light-20: lighten(get-color(secondary), 20%);
$secondary-color-light-30: lighten(get-color(secondary), 30%);
$secondary-color-light-43: lighten(get-color(secondary), 43%);
$tertiary-colour-light-20: lighten($tertiary-colour, 20%);
$tertiary-colour-light-30: lighten($tertiary-colour, 30%);
$tertiary-colour-light-43: lighten($tertiary-colour, 43%);
$quaternary-colour-light-20: lighten($quaternary-colour, 20%);
$quaternary-colour-light-30: lighten($quaternary-colour, 30%);
$quaternary-colour-light-43: lighten($quaternary-colour, 43%);

$white-rgb: rgba($white, 0.99);
$light-gray-rgb: rgba($light-gray, 0.99);
$medium-gray-rgb: rgba($medium-gray, 0.99);
$primary-color-rgb: rgba($primary-color, 0.99);
$secondary-color-light-rgb: rgba($secondary-color-light-20, 0.99);

$freshman: #ffe800;
$sophomore: #82fbc2;
$varsity: #d4ba29;

$facebook: #3b5998;
$instagram: #833ab4;
$snapchat: #fffc00;
$vimeo: #1ab7ea;
$twitter: #55acee;
$rss: #f26522;

$transition-time: 0.5s;