// default theme
.lg-actions {
    .lg-next, .lg-prev {
        background-color: $lg-next-prev-bg;
        border-radius: $lg-border-radius-base;
        color: $lg-next-prev-color;
        cursor: pointer;
        display: block;
        font-size: 22px;
        margin-top: -10px;
        padding: 8px 10px 9px;
        position: absolute;
        top: 50%;
        z-index: $zindex-controls;
        width: rem-calc(48);
        height: rem-calc(48);

        &.disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        &:hover,
        &:focus {
            color: $lg-next-prev-hover-color;

            &::after {
                opacity: 0;
            }

        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: rem-calc(24);
            transition: opacity $transition-time;
            opacity: 1;
        }

    }

    .lg-next {
        right: 20px;

        &:after {
            background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14' height='32' viewBox='0 0 14 32'%3E %3Cpath fill='#{$white-rgb}' d='M4 6l-4 4 6 6-6 6 4 4 10-10-10-10z'%3E%3C/path%3E %3C/svg%3E");
        }

        &:before {
            background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14' height='32' viewBox='0 0 14 32'%3E %3Cpath fill='#{$primary-color-rgb}' d='M4 6l-4 4 6 6-6 6 4 4 10-10-10-10z'%3E%3C/path%3E %3C/svg%3E");
        }
    }

    .lg-prev {
        left: 20px;

        &:after {
            background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14' height='32' viewBox='0 0 14 32'%3E %3Cpath fill='#{$white}'  d='M14 10l-4-4-10 10 10 10 4-4-6-6 6-6z'%3E%3C/path%3E %3C/svg%3E");
        }

        &:before {
            background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14' height='32' viewBox='0 0 14 32'%3E %3Cpath fill='#{$primary-color-rgb}'  d='M14 10l-4-4-10 10 10 10 4-4-6-6 6-6z'%3E%3C/path%3E %3C/svg%3E");
        }


    }
}

@include keyframes(lg-right-end) {
    0% {
        left: 0;
    }

    50% {
        left: -30px;
    }

    100% {
        left: 0;
    }
}


@include keyframes(lg-left-end) {
    0% {
        left: 0;
    }

    50% {
        left: 30px;
    }

    100% {
        left: 0;
    }
}


.lg-outer {
    &.lg-right-end {
        .lg-object {
            @include animation(lg-right-end 0.3s);
            position: relative;
        }
    }

    &.lg-left-end {
        .lg-object {
            @include animation(lg-left-end 0.3s);
            position: relative;
        }
    }
}

// lg toolbar
.lg-toolbar {
    z-index: $zindex-toolbar;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: $lg-toolbar-bg;

    .lg-icon {
        color: $lg-toolbar-icon-color;
        cursor: pointer;
        float: right;
        font-size: 24px;
        height: 47px;
        line-height: 27px;
        padding: 10px 0;
        text-align: center;
        width: 50px;
        text-decoration: none !important;
        outline: medium none;
        @include transition(color $transition-time linear);

        &:hover {
            color: $lg-toolbar-icon-hover-color;
        }
    }

    .lg-close {
        &:after {
            content: '\00d7';
            font-size: rem-calc(40);
            top: rem-calc(-5);
            position: relative;
        }
    }

    .lg-download {
        position: relative;

        &:hover,
        &:focus {

            &::after {
                opacity: 0;
            }

        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: rem-calc(24);
            transition: opacity $transition-time;
            opacity: 1;
        }

        &::before {
            background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='32' viewBox='0 0 32 32'%3E %3Cpath fill='#{$primary-color-rgb}' d='M28 16h-5l-7 7-7-7h-5l-4 8v2h32v-2l-4-8zM0 28h32v2h-32v-2zM18 10v-8h-4v8h-7l9 9 9-9h-7z'%3E%3C/path%3E %3C/svg%3E");
        }

        &::after {
            background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='32' viewBox='0 0 32 32'%3E %3Cpath fill='#{$white-rgb}' d='M28 16h-5l-7 7-7-7h-5l-4 8v2h32v-2l-4-8zM0 28h32v2h-32v-2zM18 10v-8h-4v8h-7l9 9 9-9h-7z'%3E%3C/path%3E %3C/svg%3E");
        }

    }
}

// lightGallery title
.lg-sub-html {
    background-color: $lg-sub-html-bg;
    bottom: 0;
    color: $lg-sub-html-color;
    font-size: 16px;
    left: 0;
    padding: 10px 40px;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: $zindex-subhtml;

    h4 {
        margin: 0;
        font-size: 13px;
        font-weight: bold;
    }

    p {
        font-size: 12px;
        margin: 5px 0 0;
    }
}

// lg image counter
#lg-counter {
    color: $lg-icon-color;
    display: inline-block;
    font-size: $lg-counter-font-size;
    padding-left: 20px;
    padding-top: 12px;
    vertical-align: middle;
}

// for idle state
.lg-toolbar, .lg-prev, .lg-next {
    opacity: 1;
    @include transitionCustom(transform 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, color 0.2s linear);
}

.lg-hide-items {
    .lg-prev {
        opacity: 0;
        @include translate3d(-10px, 0, 0);
    }

    .lg-next {
        opacity: 0;
        @include translate3d(10px, 0, 0);
    }

    .lg-toolbar {
        opacity: 0;
        @include translate3d(0, -10px, 0);
    }
}

// Starting effect
body:not(.lg-from-hash){
    .lg-outer {
        &.lg-start-zoom{
            .lg-object{
                @include scale3d(0.5, 0.5, 0.5);
                opacity: 0;
                @include transitionCustom(transform 250ms cubic-bezier(0, 0, 0.25, 1) 0s, opacity 250ms cubic-bezier(0, 0, 0.25, 1) !important);
                @include transform-origin(50% 50%);
            }
            .lg-item.lg-complete{
                .lg-object{
                    @include scale3d(1, 1, 1);
                    opacity: 1;
                }
            }
        }
    }
}