.lg-outer {
    .lg-thumb-outer {
        // background-color: $lg-thumb-bg;
        bottom: 0;
        position: absolute;
        width: 100%;
        z-index: $zindex-thumbnail;
        max-height: 350px;
        @include translate3d(0, 100%, 0);
        @include transitionCustom(transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s);

        &.lg-grab {
            .lg-thumb-item {
                @include grab-cursor;
            }
        }

        &.lg-grabbing {
            .lg-thumb-item {
                @include grabbing-cursor;
            }
        }

        &.lg-dragging {
            .lg-thumb {
                @include transition-duration(0s !important);
            }
        }
    }
    &.lg-thumb-open{
        .lg-thumb-outer {
            @include translate3d(0, 0%, 0);
        }
    }

    .lg-thumb {
        padding: 10px 0;
        height: 100%;
        margin-bottom: -5px;
    }

    .lg-thumb-item {
        // border-radius: 5px;
        cursor: pointer;
        float: left;
        overflow: hidden;
        height: 100%;
        border: 2px solid $primary-color;
        // border-radius: 4px;
        margin-bottom: 5px;
        @media (min-width: 1025px) {
            @include transition(border-color 0.25s ease);
        }

        &.active, &:hover {
            border-color: $lg-theme-highlight;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.lg-has-thumb {
        .lg-item {
            padding-bottom: 120px;
        }
    }

    &.lg-can-toggle {
        .lg-item {
            padding-bottom: 0;
        }
    }
    &.lg-pull-caption-up{
        .lg-sub-html {
            @include transition(bottom 0.25s ease);
        }
        &.lg-thumb-open{
            .lg-sub-html {
                bottom: 100px;
            }
        }
    }

    .lg-toogle-thumb {
        background-color: $lg-thumb-toggle-bg;
        border-radius: $lg-border-radius-base $lg-border-radius-base 0 0;
        color: $lg-thumb-toggle-color;
        cursor: pointer;
        font-size: 24px;
        height: 39px;
        line-height: 27px;
        padding: 5px 0;
        position: absolute;
        right: 20px;
        text-align: center;
        top: -39px;
        width: 50px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: rem-calc(24);
            transition: opacity $transition-time;
            opacity: 1;
        }

        &::before {
			background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath fill='#{$primary-color-rgb}' d='M15.984 20.016v-4.031h4.031v4.031h-4.031zM15.984 14.016v-4.031h4.031v4.031h-4.031zM9.984 8.016v-4.031h4.031v4.031h-4.031zM15.984 3.984h4.031v4.031h-4.031v-4.031zM9.984 14.016v-4.031h4.031v4.031h-4.031zM3.984 14.016v-4.031h4.031v4.031h-4.031zM3.984 20.016v-4.031h4.031v4.031h-4.031zM9.984 20.016v-4.031h4.031v4.031h-4.031zM3.984 8.016v-4.031h4.031v4.031h-4.031z'%3E%3C/path%3E %3C/svg%3E");
        }

        &::after {
			background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath fill='#{$white-rgb}' d='M15.984 20.016v-4.031h4.031v4.031h-4.031zM15.984 14.016v-4.031h4.031v4.031h-4.031zM9.984 8.016v-4.031h4.031v4.031h-4.031zM15.984 3.984h4.031v4.031h-4.031v-4.031zM9.984 14.016v-4.031h4.031v4.031h-4.031zM3.984 14.016v-4.031h4.031v4.031h-4.031zM3.984 20.016v-4.031h4.031v4.031h-4.031zM9.984 20.016v-4.031h4.031v4.031h-4.031zM3.984 8.016v-4.031h4.031v4.031h-4.031z'%3E%3C/path%3E %3C/svg%3E");
        }

        &:hover,
        &:focus {

            &::after {
                opacity: 0;
            }

        }
    }

}